#nav{
    background-color:#f33b2e !important;
    padding: 0 !important;
    box-shadow: 0px -1px 7px rgb(80, 80, 80);
}
#nav div a{
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 19px;
}
#nav div a:hover{
    color: rgb(31, 31, 31);
}
#home{
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;
    background-color:white;
}
#nav a:hover{
    background-color: white;
   
}
#navbarNav{
    padding: 0 !important;
}
.one{
    Background-color:#f33b2e;
    height: 600px;
}
.start_page{
    text-align: center!important
}
.start_page h1{
    padding-top:100px;
    color:white;
    font-size: 66px;
    font-family: Arial, Helvetica, sans-serif;
}
.start_page h4{
    padding-top:20px;
    padding-bottom:40px;
    color:white;
}
.start_page button{
    width: 146px;
    height:52px;
    background-color:rgb(29, 29, 29);
    color:white;
    font-family: Arial, Helvetica, sans-serif;;
    border:none;
    font-size:18px;
}
.start_page button:hover{
    background-color:rgb(189, 189, 189);
    color:rgb(29, 29, 29);
}
.p1{
    font-size: 37px;
    padding-top:80px;
}
.p2{
    font-size: 18px;
    padding-top:40px;
}
.p3{
    font-size: 15px;
    padding-top:20px;
}

@media screen and (min-width: 999px){
    #lorem18{
        display:block;
        padding-left:80px;
    }
}
@media screen and (max-width: 991px){
    #lorem18{
        display:none!important;
    }
}

#lorem18-none{
    display: none;
}
@media screen and (max-width: 991px){
    #lorem18-none{
        display:block;
        padding-left:15px;
        padding-right:15px;
    }
}
#lorem14{
    padding-top:55px;
}
#row1{
    padding-bottom:50px;
}
/* nbijhihihu */
#row2{
    padding-top:0px;
    background-color:rgb(241, 241, 241);
    padding-bottom:40px;
}
@media screen and (min-width: 999px){
    #lorem28{
        display:block;
        margin-left: 0%;
        margin-right: 0%;
        padding-right:150px;
    }
}
@media screen and (max-width: 1200px){
    #lorem28{
        display:none!important;
    }
}
#lorem28-none{
    display: none;
}
@media screen and (max-width: 1200px){
    #lorem28-none{
        display:block;
        padding-left:15px;
        
    }
}
#lorem24 img{
    display:block;
    padding-top:80px;
    width: 300px;
    margin-left: 30%;
}
#lorem24 {
    display:block;
    padding-left:80px;
}
.Quote{
    height: 180px;
    background-color: rgb(105, 105, 105);
    text-align: center;
    padding-top:70px;
    font-size:20px;
    color:white;
}
.icon{
    text-align: center;
    height:  200px;
}
.imgx{
    margin-top:100px;
    width:21px;
    opacity: 0.6;
}
.imgx:hover{
    margin-top:100px;
    width:21px;
    opacity: 0.3;
}
.final{
    text-align: center;
    margin-bottom: 50px;
    opacity: 0.6;
    
}
